.content .text 
{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
}

.field 
{
    height: 50px;
    width: 300px;
    display: flex;
    position: relative;
    margin-top: 24px;
}

.field:nth-child(2)
{
    margin-top: 20px;
}

.field .input
{
    height: 100%;
    width: 100%;
    padding-left: 0;
    text-align: center;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,inset -5px -5px 10px #ffffff73;
}

.field .input:focus
{
    box-shadow: inset 1px 1px 2px #BABECC,inset -1px -1px 2px #ffffff73;
}

.field .label
{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    pointer-events: none;
    color: #666666;
    opacity: 1;
}

.field .input:not(:placeholder-shown) ~ label
{
    opacity: 0;
}

.button 
{
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,-5px -5px 10px #ffffff73;
}

.button:focus
{
    color: #f3f02b;
    box-shadow: inset 2px 2px 5px #BABECC,inset -5px -5px 10px #ffffff73;
}