/* modern-css-reset */

/* Box sizing rules */
*, *::before, *::after 
{
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Allow percentage-based heights */
html, body 
{
    height: 100%;
}

/* Improve text rendering */
body 
{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* Media defaults */
img, picture, video, canvas, svg 
{
    display: block;
    max-width: 100%;
}

/* Form elements */
input, button, textarea, select 
{
    font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6
{
    overflow-wrap: break-word;
}
