body {
    margin: 0;
    height: 100%;
    justify-content: center;
    background: #EBECF0;
    display: flex;
    font-family: 'Muli', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page
{
    display: flex;
    flex-direction: column;
    align-items: center;   /* tüm içerik ortalı */
    margin-top: 20px;
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input,
.form button {
    width: 300px;
    text-align: center;
}

.card
{
    --background-checkbox: #f3f02b;
    --card-shadow: #f3f02b;
    --card-height: 600px;
    --card-width: 800px;
    --card-radius: 20px;
    --header-height: 0px;
    --blend-mode: overlay;
    --transition: 0.15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card__body
{
    display: inline-block;
    width: 800px;
    border-radius: var(--card-radius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
    -webkit-transition: box-shadow var(--transition), -webkit-transform var(--transition);
    transition: box-shadow var(--transition), -webkit-transform var(--transition);
    transition: transform var(--transition), box-shadow var(--transition);
    transition: transform var(--transition), box-shadow var(--transition), -webkit-transform var(--transition);
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

.card__body:active
{
    --scale: 0.96;
}

.card__body-cover
{
    --c-border: var(--card-radius) var(--card-radius) 0 0;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
}

.card__body-cover:after
{
    content: "";
    position: relative;
    display: grid;
    left: 0;
    top: 0;
    width: 800px;
    height: auto;
    border-radius: var(--c-border);
    background: -webkit-gradient(linear, left top, right bottom, from(var(--background-image)));
    background: linear-gradient(to bottom right, var(--background-image));
    mix-blend-mode: var(--blend-mode);
    opacity: var(--opacity-bg, 1);
    -webkit-transition: opacity var(--transition) linear;
    transition: opacity var(--transition) linear;
}

.image-wrapper
{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img 
{
    display: block;
    max-width: 800px;
    max-height: 600px;
    object-fit: contain;
}

.card__body-cover-image
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
    display: block;
    object-fit: contain;
    background-color: #ffff;
    border-radius: var(--c-border);
    box-shadow:  16px 16px 65px #a8a8a8,-16px -16px 65px #ffffff;
}

.card__input
{
    position: absolute;
    display: grid;
    visibility: hidden;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    --webkit-appearance: none;
}

.card__input:checked ~ .card__body
{
    --shadow: 0 0 0 3px var(--card-shadow);
}

.card__input:checked ~ .card__body .card__body-cover-checkbox 
{
    --check-bg: var(--background-checkbox);
    --check-border: #fff;
    --check-scale: 1;
    --check-opacity: 1;
}

.card__input:checked ~ .card__body .card__body-cover-checkbox--svg
{
    --stroke-color: #fff;
    --stroke-dashoffset: 0;
}

.card__input:checked ~ .card__body .card__body-cover:after 
{
    --opacity-bg: 0;
}

.card__input:checked ~ .card__body .card__body-cover-image
{
    --filter-bg: grayscale(0);
}

.card__input:disabled ~ .card__body
{
    cursor: not-allowed;
    opacity: 0.5;
}

.card__input:disabled ~ .card__body:active 
{
    --scale: 1;
}

.card__body-cover-checkbox
{
    background: var(--check-bg, var(--background-checkbox));
    border: 2px solid var(--check-border, #fff);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: var(--check-opacity, 0);
    transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear, -webkit-transform var(--transition) ease;
    -webkit-transform: scale(var(--check-scale, 0));
    transform: scale(var(--check-scale, 0));
}

.card__body-cover-checkbox--svg 
{
    width: 15px;
    height: 11px;
    display: flex;
    fill: none;
    margin: 7px 0 0 5px;
    stroke: var(--stroke-color, #fff);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--stroke-dashoffset, 16px);
    -webkit-transition: stroke-dashoffset 0.4s ease var(--transition);
    transition: stroke-dashoffset 0.4s ease var(--transition);
}