body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}

.background 
{
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.background-texture 
{
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0f0140e6),
    to(rgba(53, 43, 88, 0.9)));
    background: linear-gradient(to top, #0f0140e6, rgba(255, 214, 117, 0.9));
    background-size: cover;
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.carousel 
{
    width: 100%;
    overflow-x: scroll;
    padding: 30px;
    padding-top: 80px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel__container 
{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: inline-block;
}

.categories__title 
{
    color: rgb(77, 55, 102);
    font-size: 28px;
    position: absolute;
    padding-left: 30px;
}

.carousel-item 
{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    background-color: #95bcd6;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 500ms all;
    transition: 500ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item 
{
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item 
{
    opacity: 1;   
}

.carousel__container:hover .carousel-item:hover 
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.carousel-item__img 
{
    width: 600px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8;
}

.carousel-item__img:hover
{
    opacity: 1;
    
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle 
{
    color: #fff;
    margin: 5px 0;
}