<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/reset.css"/>
        <link rel="stylesheet" href="/static/elements.css"/>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <div class="page">
            <form method="post" onsubmit="return checkForm()" class="form">
                <h2>FotoModel Şablon Seçimi</h2><br>

                <div class="field">
                    <input name="full_name" type="text" class="input" required>
                    <span class="span"></span>
                    <label class="label">Ad ve Soyad</label><br>
                </div>
                <div class="field">
                    <input name="phone_number" type="text" class="input" required>
                    <span class="span"></span>
                    <label class="label">Telefon</label><br>
                </div>

                <h2>Şablonlar</h2>
                {% for t in templates %}
                <label class="card required">
                    <input class="card__input" type="checkbox" name="selected_templates" value="{{ t }}">
                    <div class="card__body">
                        <div class="card__body-cover">
                            <div class="image-wrapper">
                                <img class="card__body-cover-img" src="/static/{{ t }}"/>
                                <span class="card__body-cover-checkbox">
                                    <svg class="card__body-cover-checkbox--svg" viewBox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>   
                            </div>
                        </div>
                    </div>
                </label><br>
                {% endfor %}

                <br>
                <script>
                    function checkForm()
                    {
                        const checked = document.querySelectorAll(
                            '.card input[type="checkbox"]:checked'
                        )

                        if (checked.length === 0) 
                        {
                            alert("En az bir fotoğraf seçmelisiniz!")
                            return false
                        }

                        return true
                    }
                </script>
                <button class="button">Gönder</button>
            </form>
        </div>
    </body>
</html>