<!DOCTYPE html>
<html>
<body>

<h3>Fotoğraf Şablonlarını Seç</h3>

<!-- everything should prettify -->
<form method="post">
    <input name="full_name" placeholder="Ad-Soyad" required><br><br>
    <input name="phone_number" placeholder="Telefon Numarası" required><br><br>

    
    
    {% for t in templates %}
    <label>
        <img src="/templates/{{ t }}">
        <input type="checkbox" name="selected_templates" value="{{ t }}">
        {{ t }}
    </label><br>
    {% endfor %}

    <br>
    <button type="submit">Gönder</button>
</form>

</body>
</html>